1.Write a program to create a set and perform the following operations: Add an element, remove an element, check for membership, and clear the set.

In [ ]:
a=set()
a.add("apple")
a.add("banana")
a.add("orange")
a.add("water melon")
print("Creating a set          :",a)
a.remove("banana")
print("After removing          :",a)
print("Checking for membership :",any(a))
a.clear()
print("After clearing the set  :",a)
del(a)

Creating a set          : {'water melon', 'orange', 'banana', 'apple'}
After removing          : {'water melon', 'orange', 'apple'}
Checking for membership : True
After clearing the set  : set()

2.Write a program to take two sets of integers and perform the following operations: Union, intersection, difference, and symmetric difference.

In [ ]:
a=set([1,7,5,4,6])
b=set([3,5,2,9,8,1])
#un=a.union(b)
un=a|b
print("Union                :",un)
#inter=a.intersection(b)
inter=a&b
print("Intersection         :",inter)
#diff=a.difference(b)
diff=a-b
print("Difference           :",diff)
#s_diff=a.symmetric_difference(b)
s_diff=a^b
print("Symmetric Difference :",s_diff)

Union                : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection         : {1, 5}
Difference           : {4, 6, 7}
Symmetric Difference : {2, 3, 4, 6, 7, 8, 9}

3.Write a program to count the number of unique words in a given sentence using a set.

In [ ]:
str=input("Enter a string : ")
str=str.lower().split()
list1=list()
for i in str:
  list1.append(i)
print("The number of words in the given sentence        : ",len(list1))
set1=set(list1)
print("The number of unique words in the given sentence : ",len(set1))

Enter a string : I know you know that I know
The number of words in the given sentence        :  7
The number of unique words in the given sentence :  4

4.Write a program to create a set of even numbers from 1 to 20 using set comprehension.

In [ ]:
set1={i for i in range(1,21,1) if i%2==0}
print("Even set : ",set1)

Even set :  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

5.Write a program to create a dictionary with names and ages of 5 people and print the dictionary.

In [ ]:
n = int(input("Enter the number of people :"))
dict={}
for i in range(1,n+1,1):
  name=input("Enter the name :")
  age=int(input("Enter the age :"))
  dict[name]=age
print("Dictionary :",dict)

Enter the number of people :5
Enter the name :ashwin
Enter the age :45
Enter the name :arun
Enter the age :76
Enter the name :abdul
Enter the age :34
Enter the name :aathi
Enter the age :24
Enter the name :arvind
Enter the age :32
Dictionary : {'ashwin': 45, 'arun': 76, 'abdul': 34, 'aathi': 24, 'arvind': 32}

6.Write a program to search for a key in a dictionary and print its value if found.

In [ ]:
Dict={'ashwin': 45, 'arun': 76, 'abdul': 34, 'aathi': 24, 'arvind': 32}
key=input("Enter the key to search : ")
key=key.lower()
c=0
for i in dict.items():
  if i[0]==key:
    print(f"The value corresponding to {key} is",i[1])
    c=c+1
    break
if(c==0):
  print("The key not Found,Please enter a valid Key")

Enter the key to search : aathi
The value corresponding to aathi is 24

7.Write a program to update a value in a dictionary and remove a key-value pair.

In [ ]:
Dict={'ashwin': 45, 'arun': 76, 'abdul': 34, 'aathi': 24, 'arvind': 32,'kavi':56}
print("Oringinal Dictionary :",Dict)
upd=input("Enter the key to update :").lower()
Dict[upd]=int(input("Enter the new key:"))
print("Updated Dictionary :",Dict)
delk=input("Enter the key to delete :").lower()
del Dict[delk]
print("Dictionary after deletion :",Dict)

Oringinal Dictionary : {'ashwin': 45, 'arun': 76, 'abdul': 34, 'aathi': 24, 'arvind': 32, 'kavi': 56}
Enter the key to update :ArvinD
Enter the new key:46
Updated Dictionary : {'ashwin': 45, 'arun': 76, 'abdul': 34, 'aathi': 24, 'arvind': 46, 'kavi': 56}
Enter the key to delete :Kavi
Dictionary after deletion : {'ashwin': 45, 'arun': 76, 'abdul': 34, 'aathi': 24, 'arvind': 46}

8.Write a program to count the frequency of characters in a user-given string using a dictionary.

In [ ]:
str=input("Enter a string :").lower()
list1=[]
dict={}
for i in str:
  list1.append(i)
set1=set(list1)
for i in set1:
  a=list1.count(i)
  dict[i]=a
print(dict)

Enter a string :Aadithya Vettrivel
{'d': 1, 'v': 2, 'a': 3, 'l': 1, 'i': 2, 'y': 1, 'e': 2, 't': 3, ' ': 1, 'r': 1, 'h': 1}

9.Write a program to merge two dictionaries into one.

In [1]:
fruits={'apple':10,'banana':15,'orange':5}
vegies={'potato':10,'brinjal':14,'tomato':20}
shop={}
for i in fruits.items():
  shop[i[0]]=i[1]
for j in vegies.items():
  shop[j[0]]=j[1]
print("Dictionary 1      : ",fruits)
print("Dictionary 2      : ",vegies)
print("Merged Dictionary : ",shop)

Dictionary 1      :  {'apple': 10, 'banana': 15, 'orange': 5}
Dictionary 2      :  {'potato': 10, 'brinjal': 14, 'tomato': 20}
Merged Dictionary :  {'apple': 10, 'banana': 15, 'orange': 5, 'potato': 10, 'brinjal': 14, 'tomato': 20}

10.Write a program to create a dictionary with student names and marks, and print names of students who scored more than 80.

In [ ]:
stud={}
n=int(input("Enter the number of students :"))
for i in range(1,n+1,1):
  name=input("Enter the Student name :")
  mark=int(input("Enter the mark :"))
  stud[name]=mark
print("-----------------------------------------------------------------------")
print(stud)
print("-----------------------------------------------------------------------")
print("Students who scored marks more than 80 :")
for i in stud.items():
  if i[1]>80:
    print(i[0])

Enter the number of students :4
Enter the Student name :kavin
Enter the mark :78
Enter the Student name :pravin
Enter the mark :87
Enter the Student name :pavin
Enter the mark :45
Enter the Student name :kevin
Enter the mark :97
{'kavin': 78, 'pravin': 87, 'pavin': 45, 'kevin': 97}
Students who scored marks more than 80 :
pravin
kevin